In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
import datetime as dt

# The path to our CSV file
file = "Resources/Metro_Nashville___Davidson_County_Traffic_Crashes__2019_.csv"

# Read our CSV data into pandas
df = pd.read_csv(file, parse_dates = ['Date and Time'])
df.head()

In [ ]:
#Get row count for each column
df.count()

In [ ]:
#Drop nan or blank only in date/time column

df = df.dropna(subset=["Date and Time", "Mapped Location"])

df.head()

In [ ]:
df['month_year'] = df['Date and Time'].dt.to_period('M')
df['Year'] = pd.DatetimeIndex(df['Date and Time']).year.astype(str)
df['Year'] = df['Year'].astype(str).replace('\.0', '', regex=True)
df['Month'] = pd.DatetimeIndex(df['Date and Time']).month.astype(str)
df['Month'] = df['Month'].astype(str).replace('\.0', '', regex=True)

In [ ]:
df.count()

In [ ]:
#df.astype({"Year" : "int64"})
#df[df.Year == {2010,2011,2012,2013,2014,2015,2016,2017,2018,2019}]
#df.head()
df = df[(df['Date and Time'].dt.year >= 2010)]
df = df[(df['Latitude']) != 0.0000]
df = df[(df['Longitude']) != 0.0000]

In [ ]:
df

In [60]:
df.to_csv(r'Resources/Metro_Crash_Clean.csv')
df.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location,month_year,Year,Month
12373,20190402257,2019-05-26 12:41:00,2.0,2.0,0.0,NaN,N,769379,4.0,ANGLE,...,TN,37211,8889.0,SOUTH,36.0868,-86.6959,"(36.0868, -86.6959)",2019-05,2019,5
12374,20190397714,2019-05-24 13:15:00,2.0,0.0,0.0,NaN,Y,299238,5.0,SIDESWIPE - SAME DIRECTION,...,TN,37207,19060.0,EAST,36.1922,-86.7755,"(36.1922, -86.7755)",2019-05,2019,5
12376,20160338232,2016-04-13 07:35:00,2.0,0.0,0.0,NaN,N,839052,4.0,ANGLE,...,TN,NaN,NaN,NaN,0.0000,0.0000,"(0.0, 0.0)",2016-04,2016,4
12377,20160838187,2016-09-17 10:20:00,2.0,0.0,0.0,NaN,N,419997,11.0,Front to Rear,...,TN,NaN,NaN,NaN,0.0000,0.0000,"(0.0, 0.0)",2016-09,2016,9
12378,20190413063,2019-05-30 13:23:00,2.0,1.0,0.0,NaN,N,225777,4.0,ANGLE,...,TN,37209,4696.0,WEST,36.1530,-86.8576,"(36.153, -86.8576)",2019-05,2019,5