In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
import datetime as dt

# The path to our CSV file
file = "Resources/Metro_Nashville___Davidson_County_Traffic_Crashes__2019_.csv"

# Read our CSV data into pandas
df = pd.read_csv(file, parse_dates = ['Date and Time'])
df.head()

C:\Users\ICE\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,7,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Code Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20190004211,2019-01-02 15:58:00,2.0,0.0,0.0,NaN,N,256419,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,CHARLOTTE AV & SPRUCE ST,NASHVILLE,TN,NaN,5337.0,NORTH,NaN,NaN,NaN
1,20190025356,2019-01-10 15:37:00,3.0,0.0,0.0,NaN,N,256505,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,CHARLOTTE AV & SHORTVIEW AV,NASHVILLE,TN,NaN,5339.0,NORTH,NaN,NaN,NaN
2,20190096838,2019-02-05 12:30:00,2.0,0.0,0.0,NaN,N,267831,98.0,OTHER,...,MOTOR VEHICLE IN TRANSPORT,HILLSBORO PKE & SHARONDALE DR,NASHVILLE,TN,NaN,6001.0,WEST,NaN,NaN,NaN
3,20190112437,2019-02-11 09:53:00,3.0,0.0,0.0,NaN,N,591936,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,LOMBARDY AV & HILLSBORO PKE,NASHVILLE,TN,NaN,6001.0,WEST,NaN,NaN,NaN
4,20190129966,2019-02-17 11:06:00,2.0,0.0,0.0,NaN,Y,279116,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,LOMBARDY AV & HILLSBORO PKE,NASHVILLE,TN,NaN,6001.0,WEST,NaN,NaN,NaN

In [2]:
#Get row count for each column
df.count()

Accident Number               284517
Date and Time                 284446
Number of Motor Vehicles      284346
Number of Injuries            284394
Number of Fatalities          284332
Property Damage               125606
Hit and Run                   284479
Reporting Officer             284389
Collision Type Code           284366
Collision Type Description    283841
Weather Code                  284085
Weather Description           284085
Illumination Code             284151
Illumination Description      284126
Harmful Code                  284516
Harmful Code Description      282897
Street Address                284327
City                          277819
State                         281799
ZIP                           274897
RPA                           270262
Precinct                      269411
Latitude                      272145
Longitude                     272139
Mapped Location               272136
dtype: int64

In [3]:
#Drop nan or blank only in date/time column

df = df.dropna(subset=["Date and Time", "Mapped Location"])

df.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Code Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
12373,20190402257,2019-05-26 12:41:00,2.0,2.0,0.0,NaN,N,769379,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,HARDING PL & METROPLEX DR,NASHVILLE,TN,37211,8889.0,SOUTH,36.0868,-86.6959,"(36.0868, -86.6959)"
12374,20190397714,2019-05-24 13:15:00,2.0,0.0,0.0,NaN,Y,299238,5.0,SIDESWIPE - SAME DIRECTION,...,MOTOR VEHICLE IN TRANSPORT,MM 46 7 I 24,NASHVILLE,TN,37207,19060.0,EAST,36.1922,-86.7755,"(36.1922, -86.7755)"
12376,20160338232,2016-04-13 07:35:00,2.0,0.0,0.0,NaN,N,839052,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,NOLENSVILLE & HICKORYVIEW,NASHVILLE,TN,NaN,NaN,NaN,0.0000,0.0000,"(0.0, 0.0)"
12377,20160838187,2016-09-17 10:20:00,2.0,0.0,0.0,NaN,N,419997,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,MM 210 0 I140,NASHVILLE,TN,NaN,NaN,NaN,0.0000,0.0000,"(0.0, 0.0)"
12378,20190413063,2019-05-30 13:23:00,2.0,1.0,0.0,NaN,N,225777,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,BRILEY PKWY & I40 W EXT RAMP,NASHVILLE,TN,37209,4696.0,WEST,36.1530,-86.8576,"(36.153, -86.8576)"

In [4]:
df['month_year'] = df['Date and Time'].dt.to_period('M')
df['Year'] = pd.DatetimeIndex(df['Date and Time']).year.astype(str)
df['Year'] = df['Year'].astype(str).replace('\.0', '', regex=True)
df['Month'] = pd.DatetimeIndex(df['Date and Time']).month.astype(str)
df['Month'] = df['Month'].astype(str).replace('\.0', '', regex=True)

In [5]:
df.count()

Accident Number               272118
Date and Time                 272118
Number of Motor Vehicles      272032
Number of Injuries            272068
Number of Fatalities          272015
Property Damage               113318
Hit and Run                   272082
Reporting Officer             272060
Collision Type Code           272048
Collision Type Description    271523
Weather Code                  271754
Weather Description           271754
Illumination Code             271823
Illumination Description      271798
Harmful Code                  272117
Harmful Code Description      270498
Street Address                272084
City                          269902
State                         269951
ZIP                           270546
RPA                           269017
Precinct                      268243
Latitude                      272118
Longitude                     272118
Mapped Location               272118
month_year                    272118
Year                          272118
Month                         272118
dtype: int64

In [6]:
#df.astype({"Year" : "int64"})
#df[df.Year == {2010,2011,2012,2013,2014,2015,2016,2017,2018,2019}]
#df.head()
df = df[(df['Date and Time'].dt.year >= 2010)]
df = df[(df['Latitude']) != 0.0000]
df = df[(df['Longitude']) != 0.0000]

In [7]:
df.count()

Accident Number               269191
Date and Time                 269191
Number of Motor Vehicles      269105
Number of Injuries            269142
Number of Fatalities          269091
Property Damage               111547
Hit and Run                   269155
Reporting Officer             269133
Collision Type Code           269121
Collision Type Description    268651
Weather Code                  268833
Weather Description           268833
Illumination Code             268902
Illumination Description      268879
Harmful Code                  269190
Harmful Code Description      267581
Street Address                269166
City                          267088
State                         267154
ZIP                           268921
RPA                           267428
Precinct                      266630
Latitude                      269191
Longitude                     269191
Mapped Location               269191
month_year                    269191
Year                          269191
Month                         269191
dtype: int64

In [ ]:
df.to_csv(r'Resources/Metro_Crash_Clean.csv')
df.head()