In [42]:
import pandas as pd

# The path to our CSV file
file = "Resources/Metro_Nashville___Davidson_County_Traffic_Crashes__2019_.csv"

# Read our CSV data into pandas
df = pd.read_csv(file)
df.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Code Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20190004211,01/02/2019 03:58:00 PM,2.0,0.0,0.0,NaN,N,256419,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,CHARLOTTE AV & SPRUCE ST,NASHVILLE,TN,NaN,5337.0,NORTH,NaN,NaN,NaN
1,20190025356,01/10/2019 03:37:00 PM,3.0,0.0,0.0,NaN,N,256505,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,CHARLOTTE AV & SHORTVIEW AV,NASHVILLE,TN,NaN,5339.0,NORTH,NaN,NaN,NaN
2,20190096838,02/05/2019 12:30:00 PM,2.0,0.0,0.0,NaN,N,267831,98.0,OTHER,...,MOTOR VEHICLE IN TRANSPORT,HILLSBORO PKE & SHARONDALE DR,NASHVILLE,TN,NaN,6001.0,WEST,NaN,NaN,NaN
3,20190112437,02/11/2019 09:53:00 AM,3.0,0.0,0.0,NaN,N,591936,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,LOMBARDY AV & HILLSBORO PKE,NASHVILLE,TN,NaN,6001.0,WEST,NaN,NaN,NaN
4,20190129966,02/17/2019 11:06:00 AM,2.0,0.0,0.0,NaN,Y,279116,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,LOMBARDY AV & HILLSBORO PKE,NASHVILLE,TN,NaN,6001.0,WEST,NaN,NaN,NaN

In [43]:
#Get row count for each column
df.count()

Accident Number               284517
Date and Time                 284446
Number of Motor Vehicles      284346
Number of Injuries            284394
Number of Fatalities          284332
Property Damage               125606
Hit and Run                   284479
Reporting Officer             284389
Collision Type Code           284366
Collision Type Description    283841
Weather Code                  284085
Weather Description           284085
Illumination Code             284151
Illumination Description      284126
Harmful Code                  284516
Harmful Code Description      282897
Street Address                284327
City                          277819
State                         281799
ZIP                           274897
RPA                           270262
Precinct                      269411
Latitude                      272145
Longitude                     272139
Mapped Location               272136
dtype: int64

In [44]:
#Drop nan or blank only in date/time column
df['Date and Time'].dropna()

0         01/02/2019 03:58:00 PM
1         01/10/2019 03:37:00 PM
2         02/05/2019 12:30:00 PM
3         02/11/2019 09:53:00 AM
4         02/17/2019 11:06:00 AM
                   ...
284512    12/08/2009 09:10:00 PM
284513    04/30/2010 05:50:00 PM
284514    07/06/2014 12:45:00 PM
284515    05/19/2010 05:50:00 PM
284516    08/13/2013 12:00:00 AM
Name: Date and Time, Length: 284446, dtype: object

In [46]:
#Split date/time into separate date and time columns
new= df["Date and Time"].str.split(" ", expand = True)
df["Date"] = new[0]
df["Time"] = new[1]+new[2]
new.head(), df.head()

(            0         1   2
 0  01/02/2019  03:58:00  PM
 1  01/10/2019  03:37:00  PM
 2  02/05/2019  12:30:00  PM
 3  02/11/2019  09:53:00  AM
 4  02/17/2019  11:06:00  AM,
   Accident Number           Date and Time  Number of Motor Vehicles  \
 0     20190004211  01/02/2019 03:58:00 PM                       2.0
 1     20190025356  01/10/2019 03:37:00 PM                       3.0
 2     20190096838  02/05/2019 12:30:00 PM                       2.0
 3     20190112437  02/11/2019 09:53:00 AM                       3.0
 4     20190129966  02/17/2019 11:06:00 AM                       2.0

    Number of Injuries  Number of Fatalities Property Damage Hit and Run  \
 0                 0.0                   0.0             NaN           N
 1                 0.0                   0.0             NaN           N
 2                 0.0                   0.0             NaN           N
 3                 0.0                   0.0             NaN           N
 4                 0.0                   0.0             NaN           Y

   Reporting Officer  Collision Type Code Collision Type Description  ...  \
 0            256419                 11.0              Front to Rear  ...
 1            256505                 11.0              Front to Rear  ...
 2            267831                 98.0                      OTHER  ...
 3            591936                 11.0              Front to Rear  ...
 4            279116                  4.0                      ANGLE  ...

         City State  ZIP     RPA Precinct Latitude Longitude Mapped Location  \
 0  NASHVILLE    TN  NaN  5337.0    NORTH      NaN       NaN             NaN
 1  NASHVILLE    TN  NaN  5339.0    NORTH      NaN       NaN             NaN
 2  NASHVILLE    TN  NaN  6001.0     WEST      NaN       NaN             NaN
 3  NASHVILLE    TN  NaN  6001.0     WEST      NaN       NaN             NaN
 4  NASHVILLE    TN  NaN  6001.0     WEST      NaN       NaN             NaN

          Date        Time
 0  01/02/2019  03:58:00PM
 1  01/10/2019  03:37:00PM
 2  02/05/2019  12:30:00PM
 3  02/11/2019  09:53:00AM
 4  02/17/2019  11:06:00AM

 [5 rows x 27 columns])

In [48]:
#Remove any rows dated before 2010
reduced_df = df.loc[(
    pd.to_datetime(df["Date"]) > pd.Timestamp('12/31/2009'))]
reduced_df.count()

Accident Number               282554
Date and Time                 282554
Number of Motor Vehicles      282450
Number of Injuries            282498
Number of Fatalities          282438
Property Damage               123643
Hit and Run                   282516
Reporting Officer             282490
Collision Type Code           282471
Collision Type Description    281946
Weather Code                  282183
Weather Description           282183
Illumination Code             282248
Illumination Description      282223
Harmful Code                  282553
Harmful Code Description      280934
Street Address                282420
City                          276111
State                         280047
ZIP                           273141
RPA                           268599
Precinct                      267765
Latitude                      270469
Longitude                     270463
Mapped Location               270460
Date                          282554
Time                          282554
dtype: int64