In [6]:
import pandas as pd
import numpy as np

# The path to our CSV file
file = "Resources/nashville-crash-data-deer.csv"

# Read our CSV data into pandas
df = pd.read_csv(file)
df.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Code Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20160863376,9/26/2016 1:56,1.0,1.0,0.0,Y,N,212316,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CULVERT;DEER (ANIMAL),BRICK CHURCH PKE & DRY CREEK RD,GOODLETTSVILLE,TN,37072.0,2125.0,MADISO,36.3280,-86.7648,"(36.328, -86.7648)"
1,20150533956,6/5/2015 23:37,1.0,1.0,0.0,Y,N,134898,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CULVERT;DEER (ANIMAL);Ran Off Road-Right,GRANNY WHITE PIKE & CARL SEYFERT MEMORIA,NASHVILLE,TN,37220.0,7111.0,MIDTOW,36.0593,-86.8151,"(36.0593, -86.8151)"
2,20170737900,8/19/2017 23:55,1.0,0.0,0.0,Y,N,212325,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CULVERT;DEER (ANIMAL);Ran Off Road-Right,UPLAND DR & ROSEBANK AV,NASHVILLE,TN,37216.0,1409.0,EAST,36.1982,-86.7065,"(36.1982, -86.7065)"
3,20180276556,3/26/2018 23:32,1.0,0.0,0.0,Y,N,212310,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CULVERT;DITCH;DEER (ANIMAL),RAWLINGS RD & EATONS CREEK RD,JOELTON,TN,37080.0,3329.0,NORTH,36.3113,-86.8798,"(36.3113, -86.8798)"
4,20170438250,5/18/2017 0:43,1.0,1.0,0.0,Y,N,256499,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CULVERT;TREE;DEER (ANIMAL),PRESTON RD & PETTUS RD,ANTIOCH,TN,37013.0,8763.0,SOUTH,36.0258,-86.6630,"(36.0258, -86.663)"

In [7]:
#Get row count for each column
df.count()

Accident Number               2366
Date and Time                 2365
Number of Motor Vehicles      2364
Number of Injuries            2365
Number of Fatalities          2365
Property Damage               1034
Hit and Run                   2366
Reporting Officer             2365
Collision Type Code           2365
Collision Type Description    2365
Weather Code                  2365
Weather Description           2365
Illumination Code             2360
Illumination Description      2360
Harmful Code                  2366
Harmful Code Description      2366
Street Address                2366
City                          2277
State                         2328
ZIP                           2254
RPA                           2218
Precinct                      2228
Latitude                      2252
Longitude                     2252
Mapped Location               2252
dtype: int64

In [8]:
#Drop nan or blank only in date/time column
df['Date and Time'].dropna()

0         9/26/2016 1:56
1         6/5/2015 23:37
2        8/19/2017 23:55
3        3/26/2018 23:32
4         5/18/2017 0:43
5        5/30/2017 23:00
6        3/20/2018 23:48
7        1/30/2017 23:55
8        11/6/2009 20:20
9        11/19/2009 0:15
10       11/29/2009 1:40
11       12/1/2009 17:00
12       12/2/2009 19:18
13        12/4/2009 5:35
14       12/4/2009 19:07
15       12/4/2009 19:10
16        12/9/2009 6:30
17      12/14/2009 12:56
18      12/14/2009 20:49
19      12/16/2009 21:25
20      12/20/2009 20:40
21      12/21/2009 18:42
22       12/24/2009 9:40
23       12/26/2009 7:20
24      12/27/2009 17:49
25       12/29/2009 1:45
26         1/3/2010 3:20
27         1/4/2010 3:30
28        1/6/2010 17:42
29        1/11/2010 6:10
              ...
2336       6/1/2019 3:05
2337     11/18/2016 0:38
2338      6/6/2010 15:41
2339      2/25/2017 6:44
2340     12/21/2017 1:30
2341      5/25/2016 0:50
2342    10/13/2012 22:15
2343      4/21/2018 3:19
2344      2/16/2018 7:28
2345     9/25/2016 21:34
2346    11/29/2016 21:50
2347      2/7/2018 22:30
2348      8/26/2018 3:28
2349      11/3/2018 5:54
2350      1/1/2015 11:45
2351       8/5/2017 3:34
2352     11/27/2016 0:00
2353    10/22/2016 12:15
2354     11/24/2016 4:30
2355     3/27/2017 23:45
2356      7/20/2015 0:00
2357     10/25/2015 0:05
2358      1/13/2016 2:30
2359     5/25/2016 19:41
2360      5/27/2016 2:44
2361       6/2/2019 5:43
2362     12/18/2017 0:07
2363     4/16/2018 22:35
2364      9/28/2014 4:29
2365       7/1/2018 4:00
Name: Date and Time, Length: 2365, dtype: object

In [10]:
#Split date/time into separate date and time columns
new= df["Date and Time"].str.split(" ", expand = True)
df["Date"] = new[0]
df["Time"] = new[1]#+new[2]
new.head(), df.head()

(           0      1
 0  9/26/2016   1:56
 1   6/5/2015  23:37
 2  8/19/2017  23:55
 3  3/26/2018  23:32
 4  5/18/2017   0:43,
    Accident Number    Date and Time  Number of Motor Vehicles  \
 0      20160863376   9/26/2016 1:56                       1.0
 1      20150533956   6/5/2015 23:37                       1.0
 2      20170737900  8/19/2017 23:55                       1.0
 3      20180276556  3/26/2018 23:32                       1.0
 4      20170438250   5/18/2017 0:43                       1.0

    Number of Injuries  Number of Fatalities Property Damage Hit and Run  \
 0                 1.0                   0.0               Y           N
 1                 1.0                   0.0               Y           N
 2                 0.0                   0.0               Y           N
 3                 0.0                   0.0               Y           N
 4                 1.0                   0.0               Y           N

   Reporting Officer  Collision Type Code  \
 0            212316                  0.0
 1            134898                  0.0
 2            212325                  0.0
 3            212310                  0.0
 4            256499                  0.0

                 Collision Type Description  ...            City State  \
 0  NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  ...  GOODLETTSVILLE    TN
 1  NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  ...       NASHVILLE    TN
 2  NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  ...       NASHVILLE    TN
 3  NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  ...         JOELTON    TN
 4  NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  ...         ANTIOCH    TN

        ZIP     RPA Precinct Latitude Longitude      Mapped Location  \
 0  37072.0  2125.0   MADISO  36.3280  -86.7648   (36.328, -86.7648)
 1  37220.0  7111.0   MIDTOW  36.0593  -86.8151  (36.0593, -86.8151)
 2  37216.0  1409.0     EAST  36.1982  -86.7065  (36.1982, -86.7065)
 3  37080.0  3329.0    NORTH  36.3113  -86.8798  (36.3113, -86.8798)
 4  37013.0  8763.0    SOUTH  36.0258  -86.6630   (36.0258, -86.663)

         Date   Time
 0  9/26/2016   1:56
 1   6/5/2015  23:37
 2  8/19/2017  23:55
 3  3/26/2018  23:32
 4  5/18/2017   0:43

 [5 rows x 27 columns])

In [14]:
#Remove any rows dated before 2010
reduced_deer_df = df.loc[(
    pd.to_datetime(df["Date"]) > pd.Timestamp('12/31/2009'))]
#reduced_df.count()
reduced_deer_df.info()
#reduced_df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2347 entries, 0 to 2365
Data columns (total 27 columns):
Accident Number               2347 non-null int64
Date and Time                 2347 non-null object
Number of Motor Vehicles      2346 non-null float64
Number of Injuries            2347 non-null float64
Number of Fatalities          2347 non-null float64
Property Damage               1015 non-null object
Hit and Run                   2347 non-null object
Reporting Officer             2347 non-null object
Collision Type Code           2347 non-null float64
Collision Type Description    2347 non-null object
Weather Code                  2347 non-null float64
Weather Description           2347 non-null object
Illumination Code             2342 non-null float64
Illumination Description      2342 non-null object
Harmful Code                  2347 non-null object
Harmful Code Description      2347 non-null object
Street Address                2347 non-null object
City                          2262 non-null object
State                         2314 non-null object
ZIP                           2238 non-null float64
RPA                           2207 non-null float64
Precinct                      2213 non-null object
Latitude                      2237 non-null float64
Longitude                     2237 non-null float64
Mapped Location               2237 non-null object
Date                          2347 non-null object
Time                          2347 non-null object
dtypes: float64(10), int64(1), object(16)
memory usage: 513.4+ KB