In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
import datetime as dt

# The path to our CSV file
file = "Resources/Metro_Crash_Clean.csv"

# Read our CSV data into pandas
df = pd.read_csv(file, parse_dates = ['Date and Time'])
df.head()

C:\Users\ICE\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (1,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,...,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location,month_year,Year,Month
0,12373,20190402257,2019-05-26 12:41:00,2.0,2.0,0.0,NaN,N,769379,4.0,...,TN,37211.0,8889.0,SOUTH,36.0868,-86.6959,"(36.0868, -86.6959)",2019-05,2019,5
1,12374,20190397714,2019-05-24 13:15:00,2.0,0.0,0.0,NaN,Y,299238,5.0,...,TN,37207.0,19060.0,EAST,36.1922,-86.7755,"(36.1922, -86.7755)",2019-05,2019,5
2,12376,20160338232,2016-04-13 07:35:00,2.0,0.0,0.0,NaN,N,839052,4.0,...,TN,NaN,NaN,NaN,0.0000,0.0000,"(0.0, 0.0)",2016-04,2016,4
3,12377,20160838187,2016-09-17 10:20:00,2.0,0.0,0.0,NaN,N,419997,11.0,...,TN,NaN,NaN,NaN,0.0000,0.0000,"(0.0, 0.0)",2016-09,2016,9
4,12378,20190413063,2019-05-30 13:23:00,2.0,1.0,0.0,NaN,N,225777,4.0,...,TN,37209.0,4696.0,WEST,36.1530,-86.8576,"(36.153, -86.8576)",2019-05,2019,5